<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Enter your shit:</h1>
    <form class="" action="/posts" method="post">
      <p>
        Post name: <input type="text" name="name" value="">
      </p>
      <p>
        Body: <input type="text" name="content" value="">
      </p>
      <input type="submit" name="submit" value="">

    </form>
  </body>
</html>
